extends layout

block content 
  div.logo-heading CLUBHOUSE
  div.authentication-heading SIGN UP
  form.authentication-form 
    label First Name 
      input(type="text" name="first-name")
    label Last Name 
      input(type="text" name="last-name")
    label Email Address 
      input(type="email" name="email")
    label Username 
      input(type="text" name="username")
    label Password 
      input(type="password")
    label Confirm Password 
      input(type="password")
    button(type="submit") Sign Up
    a(href="/log-in") Already have an account? Log in 